[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"web3" = "*"
flask = "*"
ujson = "*"
configobj = "*"
pycurl = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
pymysql = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
